In [ ]:
!conda install -y -c conda-forge xlrd pycountry fuzzywuzzy

In [1]:
# Import pandas library for data manipulation and analysis
import pandas as pd
import numpy as np
import cleaning as cl
#import importlib
#importlib.reload(cl)

# Read the Excel file 'GSAF5.xls'
df = pd.read_excel('GSAF5.xls')

In [3]:

shark_attack_df = cl.drop_useless_columns(df)
shark_attack_df = cl.clean_date(shark_attack_df)
shark_attack_df = cl.clean_type(shark_attack_df)
shark_attack_df = cl.clean_sex(shark_attack_df)
shark_attack_df = cl.clean_age(shark_attack_df)
shark_attack_df = cl.clean_country(shark_attack_df, 60)
shark_attack_df = cl.clean_state(shark_attack_df, 60)
shark_attack_df = cl.clean_activity(shark_attack_df)
shark_attack_df = cl.clean_species(shark_attack_df)

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '']

In [4]:
shark_attack_df.nunique()

Type            6
Country       150
State         885
Location     4583
Activity        7
Sex             2
Age            81
Injury       4149
Fatal Y/N      12
Time          453
Month          12
Year          263
Species        35
dtype: int64

In [5]:
shark_attack_df

,Type,Country,State,Location,Activity,Sex,Age,Injury,Fatal Y/N,Time,Month,Year,Species
0,Provoked,United States,Massachusetts,Hoicks Hollow Nantucket Beach,Fishing,M,21,Injury to leg,N,Not stated,July,2025,Unknown
1,Unprovoked,United States,Florida,New Smyrna Beach,Surfing,M,40,Lacerations to r arm,N,1500hrs,July,2025,Great White Shark
2,Unprovoked,South Africa,KwaZulu-Natal,Mfazazana Hibberdene,Fishing,M,37,Mltiple injuries to body,Y,PM,July,2025,Unknown
3,Unprovoked,Australia,New South Wales,Norries Headland Cabarita Beach,Swimming,M,16,Serious bites to r bicep r wrist and r leg,N,1600,June,2025,Bull Shark
4,Unprovoked,United States,Rhode Island,Wantagh,Swimming,F,20,Lacerations to lower left foot and leg,N,1615 hrs,June,2025,Tiger Shark
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7022,Unprovoked,Australia,Western Australia,Roebuck Bay,Diving,M,<NA>,FATAL,Y,NaN,NaN,1903,Unknown
7023,Unprovoked,Australia,Western Australia,NaN,Diving,M,<NA>,FATAL,Y,NaN,NaN,1903,Unknown
7024,Unprovoked,United States,North Carolina,Ocracoke Inlet,Swimming,M,<NA>,FATAL,Y,NaN,NaN,1900,Unknown
7025,Unprovoked,Panama,NaN,"Panama Bay 8ºN, 79ºW",Unknown,M,<NA>,FATAL,Y,NaN,NaN,1883,Unknown
7026,Unprovoked,Sri Lanka,Eastern Province,"Below the English fort, Trincomalee",Swimming,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,1845,Unknown